APP_NAME=cache-distribuido-lab
APP_ENV=local
APP_PORT=8000

POSTGRES_DB=cache_lab
POSTGRES_USER=cache_lab
POSTGRES_PASSWORD=cache_lab
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
DATABASE_URL=postgresql+asyncpg://cache_lab:cache_lab@postgres:5432/cache_lab

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_URL=redis://redis:6379/0
REDIS_TTL_SECONDS=60
